:host {
	display: block;
}

svg {
	display: block;

	/**
	 * @prop --ctd-animation-height: The height of the animation. Defaults to `auto`.
	 */
	height: var(--ctd-animation-height, auto);

	/**
	 * @prop --ctd-animation-width: The width of the animation. Defaults to `auto`.
	 */
	width: var(--ctd-animation-width, auto);
}
